.product {
  display: flex;
}

.product__addtocart {
  height: 32px;
  width: 32px;
  font-size: 26px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 99px;
  margin-right: 1rem;
}

.product__text {
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.product__title {
  margin: 0;
  padding: 0;
}

.product__desc {
  margin: 0;
  padding: 0;
}
