@use '../../scss/colors';
@use '../../scss/mixins';

.menu__container {
  background-color: colors.$pink;
  padding: 1rem 1.5rem 5rem 1.5rem;
}

.menu__title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#menu__top {
  position: absolute;
}

#menu__bottom {
  position: relative;
  bottom: 73px;
}
