@use '../../scss/colors';

.about__container {
    color: colors.$brown;
    background-color: colors.$pink;
}

.about__header, .about__footer {
    width: 100%;
}

.about__content {
    padding: 1rem 1.3rem;
}

.about__text {
    margin: 1rem 0;
    line-height: 19px;
    font-size: 14px;
}

.about__text:nth-child(2) {
    font-weight: 600;
}

.about__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.profile__photo {
    width: 74px;
    margin-bottom: 0.5rem;
}

.profile__text {
    margin: 0.4rem 0;
    font-size: 14px;
}