@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Rufina:wght@700&family=Work+Sans:wght@400;600;700&display=swap');

:root {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  margin: 0;
  font-family: 'PT Serif', sans-serif;
}

h2 {
  font-family: 'PT Serif', sans-serif;
  margin: 0;
}

h3 {
  font-family: 'PT Serif', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}
